/* ------------------------------ GCP ----------------------------- */

gcp_project_id            = "your-gcp-project-id"
gcp_credentials_file      = "~/terraform_v15.json"
gcp_network_name          = "your-vpc-network-name"
gcp_region                = "your-gcp-region"
gcp_service_account_email = "your-service-account-email"

/* ------------------------------ GCP CLOUD SQL ----------------------------- */

gcp_db_instance_name      = "your-db-instance-name"
gcp_db_version            = "POSTGRES_15" # or your preferred version
gcp_db_user               = "your-db-user"
gcp_db_password           = "your-db-password"
gcp_db_name               = "your-db-name"

/* ------------------------------ GCP COMPUTE INSTANCE ----------------------------- */

gcp_instance_name         = "your-instance-name"
gcp_instance_type         = "e2-medium" # or your preferred type
gcp_instance_zone         = "your-instance-zone"
gcp_instance_image        = "ubuntu-os-cloud/ubuntu-2004-lts" # or your preferred image
gcp_instance_tags         = ["tag1", "tag2"] # or your preferred tags

/* ------------------------------ SSH Configuration ----------------------------- */

instance_ssh_user         = "ubuntu" 
instance_ssh_public_key   = "add instance_ssh_public_key" 

/* ------------------------------ GCP Cloud Run ----------------------------- */

gcp_pubsub_topic_name = "topic-gcp-v5"

/* ------------------------------- Cloud Build ------------------------------ */
repo_name = "template-image-cloud-run"
branch = "master"

github_token = "github_token"
github_gcp_installation_id = "github_gcp_installation_id"
github_remote_uri = "https://github.com/-/-.git"