/* ------------------------------ GCP Foundation----------------------------- */

gcp_project_id            = ""
gcp_project_number        = ""
gcp_credentials_file      = "~/gcp_credentials_file.json"
gcp_service_account_name  = "" 

gcp_services   = ["compute", "cloudresourcemanager", "sqladmin", "iam", "secretmanager","servicenetworking","cloudbuild","run","pubsub"]

gcp_existing_service_account_roles = [
    "secretmanager.secretAccessor",
    "cloudsql.client",
    "viewer",
    # "cloudbuild.editor",
    "compute.networkAdmin",
    "pubsub.publisher",
    "storage.admin",
    "editor",
    "pubsub.admin",
    "compute.securityAdmin"
  ]
gcp_cloud_build_service_account_roles = ["secretmanager.secretAccessor","iam.serviceAccountUser", "compute.admin", "run.admin"]


/* ------------------------------ GCP Network ----------------------------- */
gcp_network_name          = "privatenetworknew"
gcp_region                = "us-central1"
gcp_zone                  = "us-central1-c"

/* ------------------------------ GCP Cloud Storage ----------------------------- */
gcp_bucket_name = ""

/* ------------------------------ GCP CLOUD SQL ----------------------------- */

gcp_db_instance_name      = ""
gcp_db_version            = "POSTGRES_15" 
gcp_db_user               = ""
gcp_db_password           = ""
gcp_db_name               = ""


/* ------------------------------ Firewall Configuration ----------------------------- */
internal_traffic_source_range     =
internet_access_source_ranges     = 
cloud_sql_proxy_source_range      = 


/* ------------------------------ GCP COMPUTE INSTANCE ----------------------------- */

gcp_instance_name         = "your-instance-name-2"
gcp_instance_type         = "e2-medium" # or your preferred type
gcp_instance_zone         = "us-central1-c"
gcp_instance_image        = "ubuntu-os-cloud/ubuntu-2004-lts" # or your preferred image
gcp_instance_tags         = ["tag1", "tag2"] # or your preferred tags

/* ------------------------------ SSH Configuration ----------------------------- */

instance_ssh_user         = "ubuntu" # Replace with your SSH username
instance_ssh_public_key   = "" 


/* ------------------------------ GCP Cloud Run ----------------------------- */

gcp_pubsub_topic_name = ""

/* ------------------------------- Cloud Build ------------------------------ */
repo_name = "template-image-cloud-run"
branch = ""

github_token = ""
github_gcp_installation_id = ""
github_remote_uri = ""